# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - name: Cache circom
      id: cache-circom
      uses: actions/cache@v3
      with:
        path: ~/.cargo/bin/circom
        # Since the version of circom is specified in `scripts/install-circom.sh`,
        # as long as the file doesn't change we can reuse the circom binary.
        key: ${{ runner.os }}-${{ matrix.node-version }}-circom-${{ hashFiles('./scripts/install-circom.sh') }}
    - name: Cache built zkeyFiles
      id: cache-zkeyFiles
      uses: actions/cache@v3
      with:
        path: ./zkeyFiles/rln
        # Since the version of rln-circuits is specified in `scripts/build-zkeys.sh`,
        # as long as the file doesn't change we can reuse the zkeyFiles.
        key: ${{ runner.os }}-${{ matrix.node-version }}-zkeyFiles-${{ hashFiles('./scripts/build-zkeys.sh') }}
    - name: Cache cloned js-rln zkeyFiles
      id: cache-js-rln-zkeyFiles
      uses: actions/cache@v3
      with:
        path: ./zkeyFiles/js-rln
        # Since the version of js-rln is specified in `scripts/clone-js-rln-zkeys.sh`,
        # as long as the file doesn't change we can reuse the zkeyFiles from js-rln.
        key: ${{ runner.os }}-${{ matrix.node-version }}-zkeyFiles-${{ hashFiles('./scripts/clone-js-rln-zkeys.sh') }}
    - name: Build circuit params
      run: ./scripts/build-zkeys.sh
    - name: Clone js-rln params
      run: ./scripts/clone-js-rln-zkeys.sh
    - run: npm run lint
    - run: npm test
